<h1 class="title">Nonogram yourself daft here</h1>
<table class="table">
  <thead>
    <tr>
      <th>Clue</th>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>
 
  <tbody>
    <% @puzzles.each do |puzzle| %>
      <tr>
        <td><%= puzzle.clue %></td>
        <td><%= puzzle.name %></td>
        <td><%= link_to "Play", new_game_path(puzzle_id: puzzle) %></td>
        <td><%= link_to "Show", puzzle_path(puzzle) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 
<br>
 
<%= link_to "New puzzle", new_puzzle_path %>
